<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Tables / Data - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>

    <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <%- include("../../utils/header")%> <%- include("../../utils/admin_side")%>

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Data Tables</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item">Services</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <div class="card">
        <div class="card-header">
          <form
            class="row g-3 needs-validation"
            novalidate
            action="/filteruser"
            method="post"
          >
            <div class="col-md-4">
              <label for="validationCustom01" class="form-label">Name</label>
              <input type="text" class="form-control" id="validationCustom01"
              value="<%=searchdata?.filtername?searchdata?.filtername:""%>"
              name="filtername" placeholder="Search by Name">
              <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="col-md-4">
              <label for="validationCustom02" class="form-label">Email</label>
              <input type="text" class="form-control" id="validationCustom02"
              value="<%=searchdata?.filteremail?searchdata?.filteremail:""%>"
              name="filteremail" placeholder="Search by Email">
              <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="col-md-4">
              <label for="validationCustom02" class="form-label">UserId</label>
              <input type="text" class="form-control" id="validationCustom02"
              value="<%=searchdata?.filterId?searchdata?.filterId:""%>"
              name="filterId" placeholder="Search by UserId">
              <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="col-md-4">
              <label for="validationCustom02" class="form-label"
                >Mobile No</label
              >
              <input type="text" class="form-control" id="validationCustom02"
              value="<%=searchdata?.filtermobile?searchdata?.filtermobile:""%>"
              name="filtermobile" placeholder="Search by Mobile Number">
              <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="col-md-4">
              <label for="validationCustom02" class="form-label"
                >Brokrage</label
              >
              <input type="text" class="form-control" id="validationCustom02"
              value="<%=searchdata?.filterbrokrage?searchdata?.filterbrokrage:""%>"
              name="filterbrokrage" placeholder="Search by Brokrage">
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="col-md-4">
              <label for="validationCustom02" class="form-label">Amounts</label>
              <input type="text" class="form-control" id="validationCustom02"
              value="<%=searchdata?.filterpoints?searchdata?.filterpoints:""%>"
              name="filterpoints" placeholder="Search by Points">
              <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="col-md-4">
              <label for="validationCustom02" class="form-label">Margin</label>
              <input type="text" class="form-control" id="validationCustom02"
              value="<%=searchdata?.filtermargin?searchdata?.filtermargin:""%>"
              name="filtermargin" placeholder="Search by Margin">
              <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="col-md-4">
              <label for="validationCustom02" class="form-label"
                >Actual_Amt</label
              >
              <input type="text" class="form-control" id="validationCustom02"
              value="<%=searchdata?.filteractual_data_amount?searchdata?.filteractual_data_amount:""%>"
              name="filteractual_data_amount" placeholder="Search by User_Amt">

              <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="col-12">
              <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
          </form>
          <!-- End Custom Styled Validation -->
        </div>
      </div> 

      <!-- 
            <div class="card">
                <div class="card-header">
        
                    <form class="filter" action="/filteruser" method='post'>  
                        <label><b>Name</b></label>
                        <input type="text" name="filtername">  
                        <label><b>Email</b></label>
                        <input type="" name="filteremail">
                        <label><b>Mobile</b></label>
                        <input type="text" name="filtermobile">
                        <input type="submit" value="Filter"></form>
                    </div>
                    </div> -->

      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card" style="overflow-x: scroll">
              <div class="card-body">
                <h5 class="card-title">Datatables</h5>
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">S No.</th>
                      <th scope="col">Product Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Stock Available</th>
                      <th scope="col">Product Id</th>
                    </tr>
                  </thead>

                  <tbody>
                    <div>
                      <%let i=1; %> <% for (let dataobj of product){ %>
                      <tr>
                        <th scope="row"><%=i%></th>
                        <td><%=dataobj.productname%></td>
                        <td><%=dataobj.price%></td>
                        <td><%=dataobj.quantityleft%></td>
                        <td><%=dataobj.productid%></td>
                        <%id=dataobj._id.toString();%>
                        <td>
                          <form
                          class="filter"
                          action="/user_block"
                          method="post"
                          >
                          <input type="hidden" name="id" value="<%=dataobj._id%>" />
                          <input
                          type="hidden"
                              name="access"
                              value="<%=dataobj.access%>"
                            />
                            <%if(dataobj.access){%>
                              
                              <input
                              type="submit"
                              class="btn btn-success"
                              value="unblock"
                              />
                              <%}else{%>
                                <input
                                type="submit"
                                class="btn btn-danger"
                                value="block"
                                />
                                <%}%>
                              </form>
                            </td>
                            
                            <%userid=dataobj._id.toString();%>
                            <td>
                              <form
                              class="filter"
                              action="/user_update_page_product"
                              method="post"
                              >
                            <input type="hidden" name="id" value="<%=dataobj.productid%>" />
                            <input
                              class="flter_input btn btn-info"
                              type="submit"
                              value="Update Product Details"
                            />
                          </form>
                        </td>

                        <td>
                          <form
                            class="filter"
                            action="/about_product"
                            method="post"
                          >
                            <input
                              type="hidden"
                              name="id"
                              value="<%=dataobj.productid%>"
                            />

                            <input
                              type="submit"
                              class="btn btn-warning"
                              value="About Product"
                            />
                          </form>
                        </td>

                        <td>
                          <form
                            class="filter"
                            action="/product_delete"
                            method="post"
                            onsubmit="return confirmDelete();"
                          >
                            <input
                              type="hidden"
                              name="id"
                              value="<%=dataobj.productid%>"
                            />

                            <input
                              type="submit"
                              class="btn btn-dark"
                              value="Delete Product"
                            />
                          </form>
                        </td>

                      </tr>
                      <% i=i+1; }%>
                    </div>
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <%- include("../../utils/footer")%>

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
    <script>
      function confirmDelete() {
        // Display a confirmation dialog
        var result = confirm("Are you sure you want to delete this user?");

        // If the user clicks OK, the form will be submitted. Otherwise, it won't.
        return result;
      }
    </script>
    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.min.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
